* {
    margin: 5px auto;
    text-align: center;
    font-family: sans-serif;
    text-decoration: none;
}

.table {
    border-collapse: collapse;
    table-layout: auto;
    width: 600px;
    border: 1px solid cornflowerblue;
}

.table th {
    font-size: 18px;
    font-weight: bold;
    color: white;
    padding: 8px;
    background: cornflowerblue;
}

.table td {
    font-size: 16px;
    font-weight: bold;
    padding: 8px;
}

.table tr:nth-child(even){
    background: #efefef;
}

.specifications {
    table-layout: auto;
    width: 600px;
    border-collapse: collapse;
}

.specifications th {
    font-size: 16px;
    font-weight: bold;
    color: cornflowerblue;
    border-bottom: 1px solid cornflowerblue;
}

.specifications td {
    font-size: 16px;
    font-weight: lighter;
    border-bottom: 1px solid cornflowerblue;
}

.reviews {
    table-layout: auto;
    width: 600px;
    border-collapse: collapse;
}

.reviews th {
    font-size: 15px;
    font-weight: lighter;
    text-align: start;
    border-bottom: 1px solid cornflowerblue;
}

.reviews td {
    font-size: 15px;
    font-weight: lighter;
    text-align: start;
    border-bottom: 1px solid cornflowerblue;
}

.button-e, .button-d {
    width: 70px;
    margin-left: 5px;
    padding: 3px;
    background-color: cornflowerblue;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-color: cornflowerblue;
    border-style: solid;
    border-radius: 15px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button-a, .button-c {
    width: 140px;
    margin-left: 5px;
    padding: 3px;
    background-color: cornflowerblue;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-color: cornflowerblue;
    border-style: solid;
    border-radius: 15px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button-info {
    width: 140px;
    margin-left: 5px;
    padding: 3px;
    background-color: white;
    color: cornflowerblue;
    font-size: 16px;
    font-weight: bold;
    border-color: cornflowerblue;
    border-style: solid;
    border-radius: 15px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button-status {
    width: 120px;
    padding: 3px;
    background-color: white;
    color: cornflowerblue;
    font-size: 16px;
    font-weight: bold;
    border-color: cornflowerblue;
    border-style: solid;
    border-radius: 15px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button-e:hover {
    background-color: coral;
    border-color: coral;
    color: white;
}

.button-d:hover {
    background-color: red;
    border-color: red;
    color: white;
}

.button-c:hover {
    background-color: limegreen;
    border-color: limegreen;
    color: white;
}

.button-a:hover {
    background-color: white;
    border-color: cornflowerblue;
    color: cornflowerblue;
}

.button-info:hover {
    background-color: cornflowerblue;
    border-color: cornflowerblue;
    color: white;
}

.button-status:hover {
    background-color: cornflowerblue;
    border-color: cornflowerblue;
    color: white;
}

.button-shopping {
    display: inline-block;
    width: 170px;
    padding: 5px 5px;
    background-color: cornflowerblue;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 20px;
}

.button-checkout {
    display: inline-block;
    width: 170px;
    padding: 5px 5px;
    background-color: limegreen;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 20px;
}

.cart-qty {
    display: flex;
    flex-direction: row;
    align-items: center;
}