* {
    margin: 10px auto;
    text-align: center;
    font-family: sans-serif;
    text-decoration: none;
}

.table {
    border-collapse: collapse;
    table-layout: auto;
    width: 700px;
    border: 1px solid cornflowerblue;
}

.table th {
    font-size: 18px;
    font-weight: bold;
    color: white;
    padding: 8px;
    background: cornflowerblue;
}

.table td {
    font-size: 16px;
    font-weight: bold;
    padding: 8px;
}

.table tr:nth-child(even){
    background: #efefef;
}

.button-edit {
    display: flex;
    justify-content: center;
    width: 50px;
    padding: 5px 10px;
    background-color: coral;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 20px;
}

.button-delete {
    display: flex;
    justify-content: center;
    width: 50px;
    padding: 5px 10px;
    background-color: red;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 20px;
}

.button-create {
    display: inline-block;
    padding: 10px 10px;
    background-color: limegreen;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 20px;
}

.details {
    color: cornflowerblue;
    text-decoration: underline;
}

.button-add {
    display: flex;
    justify-content: center;
    padding: 5px 5px;
    background-color: cornflowerblue;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 20px;
}

.button-shopping {
    display: inline-block;
    width: 170px;
    padding: 5px 5px;
    background-color: cornflowerblue;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 20px;
}

.button-checkout {
    display: inline-block;
    width: 170px;
    padding: 5px 5px;
    background-color: limegreen;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 20px;
}

.button-cart {
    display: inline-block;
    width: 170px;
    padding: 5px 5px;
    background-color: coral;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 20px;
}