<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Value</title>
    <style>
        * {
            margin: 10px auto;
            text-align: center;
            font-family: sans-serif;
            font-size: 1rem;
        }
    </style>
</head>
<body>

<h2>Add Value for Product: <span th:text="${product.name}"></span></h2>

<form th:action="@{/products/{id}/add-value(id=${product.id})}" th:object="${value}" method="post">
    <label for="specificationId">Select specification:</label>
    <select name="specificationId" id="specificationId">
        <option value="true" disabled selected>Specification</option>
        <option th:each="spec : ${specifications}"
                th:value="${spec.id}"
                th:text="${spec.name}">
        </option>
    </select>
    <br>
    <label for="valueName">Enter value:</label>
    <input id="valueName" type="text" th:field="*{name}">

    <button type="submit">Add Value</button>
</form>

</body>
</html>
