<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
    <link rel="stylesheet" href="css/table-style.css">
</head>

<body>
<h1>Cart</h1>
<div th:if="${carts.isEmpty()}">
    <p>Your cart is empty.</p>
</div>

<div th:if="${!carts.isEmpty()}">
    <table class="table" style="width: 500px">
        <thead>
        <tr>
            <th>№</th>
            <th>Product</th>
            <th>Price</th>
            <th>Qty</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cart, iterStat : ${carts}">
            <td th:text="${iterStat.count}"></td>
            <td th:text="${cart.product.name}"></td>
            <td th:text="${#numbers.formatDecimal(cart.product.price, 0, 'COMMA', 0, 'POINT')} + ' ₸'"></td>
            <td class="cart-qty">
                <a th:href="@{/cart/decrease/{id}(id=${cart.product.id})}">
                    <button type="button">-</button>
                </a>
                <p th:text="${cart.count}"></p>
                <a th:href="@{/cart/increase/{id}(id=${cart.product.id})}">
                    <button type="button">+</button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<h3 style="width: 500px; font-weight: bold; text-align: end">Total: <span th:text="${#numbers.formatDecimal(total, 0, 'COMMA', 0, 'POINT')} + ' ₸'"></span></h3>

<a class="button-checkout" href="/checkout">Checkout</a>
<br>
<a class="button-shopping" href="/products-list">Continue Shopping</a>

</body>
</html>