<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create category</title>
    <style>
        * {
            margin: 15px auto;
            text-align: center;
            font-family: sans-serif;
        }
    </style>
</head>
<body>

<div>
    <h2>New category</h2>
    <form th:method="post" th:action="@{/category-create}" th:object="${category}">

        <label for="name">Name</label>
        <input type="text" th:field="*{name}" id="name">
        <br>
        <input type="submit" value="Create" id="submit">

    </form>
</div>

</body>
</html>
