<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Categories</title>
    <link rel="stylesheet" href="css/table-style.css">
</head>
<body>
<div>
    <h2> Categories</h2>
    <table class="table" style="width: 500px">
        <thead>
        <tr>
            <th>№</th>
            <th>NAME</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="category, iterStat : ${categories}">
            <td th:text="${iterStat.count}"></td>
            <td th:text="${category.name}"></td>
            <td>
                <a th:href="@{category-update/{id}(id=${category.id})}">
                    <button class="button-e">Edit</button>
                </a>
                <a th:href="@{category-delete/{id}(id=${category.id})}">
                    <button class="button-d">Delete</button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<a th:href="@{category-create}"><button class="button-c" type="button">Create</button></a>
</body>
</html>