<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create product</title>
    <link rel="stylesheet" href="/css/table-style.css">
</head>
<body>

<h2>New product</h2>

<div>
    <form th:method="post" th:action="@{/product-create}" th:object="${product}">

        <select name="category">
            <option th:each="category : ${categories}"
                    th:value="${category.id}"
                    th:text="${category.name}">
            </option>
        </select>
        <br>
        <label for="name">Name</label>
        <input type="text" th:field="*{name}" id="name">
        <br>
        <label for="price">Price</label>
        <input type="number" th:field="*{price}" id="price">
        <br>
        <label for="submit"></label>
        <input type="submit" value="Create" id="submit">

    </form>
</div>

</body>
</html>