<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product info</title>
    <link rel="stylesheet" href="/css/table-style.css">
</head>
<body>
<h2>Product Info</h2>
<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Category</th>
        <th>Name</th>
        <th>Price</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td th:text="${productById.id}"></td>
        <td th:text="${productById.category.name}"></td>
        <td th:text="${productById.name}"></td>
        <td th:text="${#numbers.formatDecimal(productById.price, 0, 'COMMA', 0, 'POINT')} + ' ₸'"></td>
    </tr>
    </tbody>
</table>
<br>


<table class="specifications">
    <h3 style="border-bottom: 2px solid black; width: 600px; text-align: start">Specifications</h3>
    <tbody>
    <tr th:each="value : ${productById.getValues()}">
        <th th:text="${value.getSpecification().name}" style="text-align: start"></th>
        <td th:text="${value.name}" style="text-align: start"></td>
        <td style="text-align: end">
            <a th:href="@{value-update/{id}(id=${value.id})}">
                <button class="button-e">Edit</button>
            </a>
            <a th:href="@{value-delete/{id}(id=${value.id})}">
                <button class="button-d">Delete</button>
            </a>
        </td>
    </tr>
    </tbody>
</table>
<a th:href="@{/products/{id}/add-value(id=${productById.id})}">
    <button class="button-info" style="width: 160px">Add specification</button>
</a>
<br>
<br>
<table style="border-bottom: 2px solid black">
    <tbody>
    <tr>
        <td style="width: 300px"><h3 style="text-align: start">Reviews</h3></td>
        <td th:text="'Average rating: ' + ${average}" style="width: 300px; font-weight: bold; text-align: end"></td>
    </tr>
    </tbody>
</table>

<table class="reviews">
    <tbody>
    <tr th:each="review : ${reviewsByProductIdAndStatus}">
        <td th:text="${review.comment}"></td>
        <td style="text-align: end">
            <span th:text="${review.user.firstName}"></span>
            <br>
            <span th:each="i : ${#numbers.sequence(1, review.assessment)}" style="color: cornflowerblue">★</span>
        </td>
    </tr>
    </tbody>
</table>
<a th:href="@{/products/{id}/add-value(id=${productById.id})}">
    <button class="button-info" style="width: 160px">Edit reviews</button>
</a>
</body>
</html>