<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create product</title>
    <link rel="stylesheet" href="/css/table-style.css">
</head>
<body>

<h2>New product</h2>

<div>
    <form th:method="post" th:action="@{/product-create}" th:object="${product}">

        <label for="category"></label>
        <select name="category" style="width:170px">
            <option value="true" disabled selected>Select category</option>
            <option th:each="category : ${categories}"
                    th:value="${category.id}"
                    th:text="${category.name}">
            </option>
        </select>
        <br>

        <label for="name">Enter name:</label>
        <br>
        <input type="text" th:field="*{name}" id="name" width="200px" placeholder="name">
        <br>

        <label for="price">Enter price:</label>
        <br>
        <input type="number" th:field="*{price}"
               id="price" width="200px"
               min="1"
               placeholder="price">
        <br>

        <label for="submit"></label>
        <input type="submit" value="Create" id="submit" class="button-c">

    </form>
</div>

</body>
</html>