<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reviews</title>
    <link rel="stylesheet" href="/css/table-style.css">
</head>
<body>
<h2> Reviews on product: <span th:text="${productById.name}"></span></h2>
<br>
<table class="table" style="width: 800px">
    <thead>
    <tr>
        <th>№</th>
        <th>Comment</th>
        <th>User</th>
        <th>Rating</th>
        <th>Status</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="review, iterStat : ${reviewsByProductId}">
        <td th:text="${iterStat.count}"></td>
        <td th:text="${review.comment}"></td>
        <td th:text="${review.user.firstName}">
        <td><span th:each="i : ${#numbers.sequence(1, review.assessment)}" style="color: cornflowerblue">★</span></td>
        <th:block th:switch="${review.status}">
            <td th:case="true">
                <a th:href="@{/review-status/{id}(id=${review.id}, productId=${productById.id}, status=false)}">
                    <button class="button-status">Published</button>
                </a>
            </td>
            <td th:case="false">
                <a th:href="@{/review-status/{id}(id=${review.id}, productId=${productById.id}, status=true)}">
                    <button class="button-status">Unpublished</button>
                </a>
            </td>
        </th:block>
        <td>
            <a th:href="@{/review-delete/{id}(id=${review.id}, productId=${productById.id})}">
                <button class="button-d">Delete</button>
            </a>
        </td>
    </tr>
    </tbody>
</table>
<div style="text-align: start; width: 800px;">
    <a th:href="@{/products/{id}(id=${productById.id})}" style="color: cornflowerblue">< Back</a>
</div>
</body>
</html>